.partnyors {
  position: relative;
  overflow: hidden;
  margin-bottom: clamp(10rem, 5vw + 2rem, 15rem);
}

.partnyors .slider {
  display: flex;
  gap: 9.1rem;
  animation: continuous-scroll 20s linear infinite;
  will-change: transform;
}

.partnyors .slider img {
  height: 3.2rem;
  width: auto;
  object-fit: contain;
  flex-shrink: 0;
  transition: transform 0.5s ease-out; 
}


@keyframes continuous-scroll {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
  .partnyors {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .partnyors .slider {
    gap: 2.9rem;
  }

  .partnyors .slider img {
    height: 1.6rem;
  }

  .partnyors {
    margin-bottom: 0rem;
  }
}
